import(ncdf4)
import(zoo)
import(esd)
# Exports - in alphabetic order

export(cmip5.urls)
export(cordex.urls)
export(thredds.urls)
export(getatt)
export(getCM)
export(getGCMs)
export(getRCMs)
export(commonEOF.gcm)
export(commonEOF.rcm)
export(subset.commonEOF)
export(map.commonEOF)
export(map.ensemble)
export(metaextract)
export(metaextract.opendap)
export(metaextract.cordex)
export(metaextract.cmip5)
export(EQC.gcmbias)
export(EQC.ensemble)
export(EQC.stations)
export(EQC.commonEOF)
export(EQC.scatterplot)
export(cdo.mean)
export(cdo.timeSd)
export(cdo.spatSd)
export(cdo.gridcor)
export(cdo.command)
export(gunzip)
