import(ncdf4)
import(zoo)
import(esd)
# Exports - in alphabetic order

export(cmip5.urls)
export(cordex.urls)
export(getGCMs)
export(getRCMs)
export(EQC.gcmbias)
export(ECQ.ensemble)
export(EQC.stations)
export(EQC.commonEOF)
#export()